<div class="card mb-5">
    <div class="card-header"> Add Meta </div>
    <div class="card-body">
      <div class="form-group">
        <label for="metaName">name:</label>
          <input class="form-control" id="metaName" #name />
        <!-- (click) passes input value to add() and then clears the input -->
      </div>
        <div class="form-group">
            <label for="metaDescription">Description:</label>
            <input class="form-control" id="metaDescription" #description />
            <!-- (click) passes input value to add() and then clears the input -->
        </div>
        <div class="form-group">
            <label for="metaEgo">Meta name:</label>
            <input class="form-control" id="metaEgo" #ego />
            <!-- (click) passes input value to add() and then clears the input -->
        </div>
        <div class="form-group text-right">
          <button class="btn btn-secondary"
                  (click)="handleForm(name, description, ego)">
                  add Meta
          </button>
        </div>
  </div>
</div>

<button class="btn btn-primary" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
