<div class="card">
  <div class="card-header">
    <h2>My Metas</h2>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        {{metaStatus[status+1]}}
      </button>
      <div class="dropdown-menu">
        <div class="dropdown-item" *ngFor="let status of metaStatus; let i = index" (click)="search(i-1)">
          <div>{{status}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="metahumans.length == 0" class="spinner-border"></div>
    <div *ngIf="metahumans.length > 0" class="form-group">
      <a routerLink="/metas/create">Create Meta</a>
      
      <table class="table table-striped table-hover">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Status</th>
          <th>#</th>
        </tr>
        <tr *ngFor="let meta of filteredMetas">
          <td routerLink="/metas/{{meta.id}}/detail">
              {{meta.id}}
          </td>
          <td>
            {{meta.name}}
          </td>
          <td>
            {{metaStatus[meta.status+1]}}
          </td>
          <td>
          <button class="btn btn-danger btn-sm" title="delete meta"
            (click)="delete(meta)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
