/* DashboardComponent's private CSS styles */
  .module > a {
    text-decoration: none;
    color: #fff;
  }

  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607d8b;
    border-radius: 2px;
  }
  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }
  
  .module:hover > a {
    color: #000;
  }