<div class="card mb-5">
    <div class="card-header">{{ability.name | uppercase}} Details</div>
    <div class="card-body">
      <div><span>id: </span>{{ability.id}}</div>
      <div class="form-group">
        <label for="abilityName">name</label> 
        <input class="form-control" id="abilityName" #abilityName [(ngModel)]="ability.name" placeholder="name"/>
      </div>
        <div class="form-group">
            <label for="abilitydesc">name</label>
            <textarea class="form-control" id="abilitydesc" #abilityDesc [(ngModel)]="ability.description" placeholder="name"></textarea>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-primary" (click)="save()">Save changes</button>
        </div>
    </div>
  </div>
  <!-- List of the abilities of the ability -->
  <div class="card mb-5">
    <div class="card-header">Metas with this ability</div>
    <div class="card-body">      
      <table *ngIf="ability.metas.length > 0" class="table table-striped table-hover">
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
          <tr *ngFor="let meta of ability.metas">
            <td routerLink="/metas/{{meta.id}}/detail">
                {{meta.id}}
            </td>
            <td>
                {{meta.name}}
            </td>
          </tr>
      </table>
      <div *ngIf="ability.metas.length == 0">
        This ability has no metas (yet). Feel free to <a routerLink="/metas/create">add</a> one.
      </div>
    </div>  
  </div>
  <button class="btn btn-primary" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
