<div class="card">
  <div class="card-header">
    <h2>My Abilities</h2>
  </div>
  <div class="card-body">
      <a routerLink="/abilities/add">Create Ability</a>

      <table class="table table-striped table-hover">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>#</th>
        </tr>
        <tr *ngFor="let ability of abilities">
              <td routerLink="/abilities/{{ability.id}}/detail" style="cursor: pointer">
                  {{ability.id | truncate:[5]}}
              </td>
              <td>
                  {{ability.name}}
              </td>
              <td>
                  {{ability.description | truncate:[20, '...']}}
              </td>
          <td>
          <button class="btn btn-danger btn-sm" title="delete ability"
            (click)="delete(ability)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>
  </div>
</div>
