<h2>My Heroes</h2>
 
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
 
<table class="heroes">
  <tr *ngFor="let hero of heroes">
    <td>
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span>
      </a>
    </td>
    <td>
        {{hero.name}}
    </td>
    <td>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
    </td>
  </tr>
</table>