<div id="search-component">  
  <div class="card">
    <div class="card-header">Search for a hero</div>
    <div class="card-body">
        <div class="form-group">
            <label for="searchBox">Hero Search</label>
            <input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control" />
        </div>
      
        <div class="form-group">
          <ul class="list-group">
              <li *ngFor="let hero of heroes$ | async" class="list-group-item" >
                <a routerLink="/heroes/{{hero.id}}/detail">
                  {{hero.name}}
                </a>
              </li>
            </ul>
        </div>        
    </div>
  </div> 
</div>